<div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Histórico de Mensagem</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->
            <div class="container">
              <div class="d-flex justify-content-center">
                <table class="table table-responsive-sm">
                  <thead>
                    <tr>
                      <th>De</th>
                      <th>Para</th>
                      <th>Mensagem</th>
                      <th>enviado em</th>
                    </tr>
                  </thead>
                    <tbody>
                        <% @sms_logs.each_with_index do |sms_log, index| %>
                          <tr>
                            <td class="text-center"><%= sms_log.from_number %></td>
                            <td class="text-center"><%= sms_log.to_number %></td>
                            <td class="text-center"><%= sms_log.body %></td>
                            <td class="text-center"><%= sms_log.sent_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
                            </tr>
                          <% end %>
                    </tbody>
                </table>
              </div>
            </div>
          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>
