<div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Nova Mensagem</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="dashboard_graph">
                  <div class="row x_title">
                    <div class="col-md-6">
                    </div>
                  </div>
                  <%= form_for @sms_message do |f| %>
                    <div class="form-group">
                      <%= f.label :smsbody, "Mensagem:" %>
                      <%= f.text_area :smsbody, class: "form-control" %>
                    </div>
          
                    <div class="form-group">
                      <%= f.submit "Salvar", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                  <!-- /top tiles -->
                  <!-- /FInal Tabela -->
                </div>
              </div>
            </div>

          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>

