><div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Bem-vindo ao Painel Administrativo</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->
            <!-- app/views/sellers/attach_devices.html.erb -->
              <h1>Atrelar Devices ao Seller</h1>
              <%= form_with model: @seller, url: save_attached_devices_seller_path(@seller), method: :post do |f| %>
                <h2>Dispositivos Disponíveis</h2>
                <% @devices.each do |device| %>
                  <%= check_box_tag "seller[device_ids][]", device.id, @seller.devices.include?(device) %>
                  <%= device.nome %>
                  <br>
                <% end %>
                <%= f.submit "Salvar" %>
              <% end %>
          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>

