
<div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Dispositivos em uso</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->
            <div class="table-responsive">
              <table class="table table-responsive-sm">
                <thead>
                  <tr>
                    <th>Dispositivo</th>
                    <th>Usuário</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @devices.each do |device| %>
                    <% if device.user.present? %>
                      <tr>
                        <td><%= device.device %></td>
                        <td><%= device.user.name %></td>
                        <td>
                          <%= link_to device_path(device), class: 'btn btn-primary btn-sm' do %>
                            <i class="fa fa-search"></i> Ver
                          <% end %>
                        </td>
                        <td>
                          <%= button_to dissociate_device_path(device), method: :delete, data: { confirm: 'Tem certeza que deseja desassociar este dispositivo?' }, class: 'btn btn-danger btn-sm' do %>
                            <i class="fa fa-times"></i> Desassociar
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>

