<div class="container-fluid">
  <div class="row">
    <!-------------------- --Conteúdo principal ------------------------->
    <!-- Conteúdo principal -->
      <div class="col-lg-9">
        <h1 class="mt-4">Valor da dose</h1>
        <div class="right_col" role="main">
          <!-- ... (conteúdo do gráfico e da tabela) ... -->

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <%= form_with(model: @doses_price, url: dose_prices_path, class: 'form') do |form| %>
                    <div class="form-group">
                      <%= form.label :price, 'Valor da Dose:' %>
                      <%= form.text_field :price, class: 'form-control' %>
                    </div>
                    <%= form.submit 'Salvar', class: 'btn btn-primary mt-2' %>
                  <% end %>
                </div>
              </div>
            </div>

          <!-- ... (Fnal conteúdo do gráfico e da tabela) ... -->  
    <!-- /Conteúdo principal -->
    <!--------------------- /Conteúdo principal ------------------------->
  </div>
</div>

